.initial_loading, .initial_error{
  font-size: 2rem;
  font-weight: 700;
  color: rgb(88, 88, 251);
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);
}