.chat_box_section{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
  align-items: center;
  padding-top: 10rem;
  position: relative;

  &_top{
    padding: 1rem;
    background-color: rgb(88, 88, 251);
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    position: fixed;
    top: 4.3rem;
  }
  
  &_chat{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0 0.5rem 6rem;
    width: 100%;

    &_left, &_right{      
      background-color: rgb(148, 255, 148);
      border-radius: 10px;
      padding: 0.5rem;
      list-style-type: none;
      max-width: 50%;      
    }

    &_left{
      margin-right: auto;            
    }
    &_right{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: auto;
      width: 100%;

      &_trash{
        cursor: pointer;
      }

      p{
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }

  &_form{
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;

    input, button{
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      border: none;
      border-radius: 5px;
    }
    input{
      width: 100%;
    }
    button{
      background-color: rgb(88, 88, 251);      
      color: white;
      cursor: pointer;
    }
    button:hover{
      background-color: rgba(88, 88, 251,0.8);
    }

    &_navs{
      display: flex;
      column-gap: 0.5rem;
      align-items: center;

      &_back{
        color: white;
      }
    }
  }
}