@use "../abstract/media_queries" as mq;

.req_recieved_section{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  padding-top: 4rem;

  &_loading{
    font-size: 2rem;
    font-weight: 700;   
    margin-top: 5rem;
  }

  &_list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 3rem 2rem;
    width: 100%;

    &_user{
      display: flex;      
      padding: 1rem 1.5rem;
      border-radius: 10px;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(122, 155, 254);
      box-shadow: 3px 3px 3px rgba(0,0,0,0.2);    

      @include mq.responsive('xs')
      {
        flex-direction: column;
        row-gap: 1.5rem;
      }

      p{
        font-size: 1.5rem;
        text-transform: capitalize;
      }

      button{
        background-color: black;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        color: white;
        cursor: pointer;
      }
      button:hover{
        background-color: rgba(0,0,0,0.8);
      }
    }
  }


  &_error{
    width: 100%;
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-100%);
    color: rgb(88, 88, 251);
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    pointer-events: none;
  }
}