.req_sent_section{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  padding-top: 4rem;

  &_loading{
    font-size: 2rem;
    font-weight: 700;   
    margin-top: 5rem;
  }

  ul{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem 2rem;
    li{
      width: 50vw;
      display: flex;      
      background-color: burlywood;
      padding: 1rem 1.5rem;
      border-radius: 10px;
      justify-content: space-between;

      p{
        text-transform: capitalize;
      }
    }
  }

  &_error{
    margin-top: 50vh;
    margin-right: 50vw;
    transform: translateY(-200%) translateX(120%);    
    color: rgb(88, 88, 251);
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    pointer-events: none;
  }
}